html,
body {
  background-color: #21232a;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  box-sizing: border-box;
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}
/* cards */

.cards {
  display: grid;
  grid-template-columns: repeat(5,20%);

}

.card {
  padding: 20px;
}

.card h1 {
  font-size: 12px;
  color: chartreuse;
}

.card img {
  width: 250px;
  height: 200px;
  border-radius: 15px;
}






